{% load static %}
<html>
	<head>
		<title>Ben Gray's Django Coursework Blog</title>
		<link rel="stylesheet" href="https://unpkg.com/wingcss" />
		<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
	</head>
	<body>
		<div class="container">
			<div class="nav">
				<div class="nav-logo"><a class="nav-home" href="{% url 'post_list' %}">Ben Gray's CS Blog</a></div>
				<div class="nav-item"><a href="{% url 'post_list' %}">Posts</a></div>
				<div class="nav-item"><a href="{% url 'post_list' %}">CV</a></div>
				{% if user.is_authenticated %}
				<div class="nav-item"><a href="{% url 'post_new' %}">New Post</a></div>
				<div class="nav-item"><a href="{% url 'post_draft_list' %}">Drafts</a></div>
				<div class="nav-item"><a href="{% url 'cv_new' %}">Edit CV</a></div>
				{% endif %}
			</div>
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
