{% extends 'blog/base.html' %} {% block content %}
<div class="row">
	<div class="col cv-content">
		<h1>Ben Gray</h1>
		<p>{{ bio.0.text }}</p>
		<div id="section-education">
			<h4 class="post-title">Education</h4>
			<ul>
				{% for entry in education %}
				<li>{{ entry.text|truncatechars:200 }}</li>
				{% endfor %}
			</ul>
		</div>
		<div id="section-work">
			<h4 class="post-title">Work Experience</h4>
			<ul>
				{% for entry in workexp %}
				<li>{{ entry.text|truncatechars:200 }}</li>
				{% endfor %}
			</ul>
		</div>
		<div id="section-skills">
			<h4 class="post-title">Additional Skills/Achievements</h4>
			<ul>
				{% for entry in skills %}
				<li>{{ entry.text|truncatechars:200 }}</li>
				{% endfor %}
			</ul>
		</div>
		<div id="section-interests">
			<h4 class="post-title">Interests</h4>
			<ul>
				{% for entry in interests %}
				<li>{{ entry.text|truncatechars:200 }}</li>
				{% endfor %}
			</ul>
		</div>
		<div id="section-misc">
			<h4 class="post-title">Miscellaneous</h4>
			<ul>
				{% for entry in misc %}
				<li>{{ entry.text|truncatechars:200 }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
