.cv-content {
	margin-left: 1rem;
	margin-right: 1rem;
}

.nav-home,
.post-button {
	text-decoration: none;
	color: black;
}

.post-title {
	margin-bottom: 0;
}

/*body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Courier New", Courier, monospace;
}*/
